<h1>sent it</h1>

<table>
  <tr>
    <th>started</th>
    <td><%= @started.iso8601 %></td>
  </tr>
  <tr>
    <th>finished</th>
    <td><%= @finished.iso8601 %></td>
  </tr>
</table>

<%= render 'buttons' %>
