<h1>chillmailer</h1>
<p>
  Messages go to
  <a href="https://www.mailinator.com/inbox2.jsp?public_to=chillmailer#/#public_maildirdiv">https://www.mailinator.com/inbox2.jsp?public_to=chillmailer#/#public_maildirdiv</a>
</p>

<%= render 'buttons' %>
